frontend/node_modules/
backend/node_modules/
frontend/dist/
backend/uploads/
backend/tmp/
npm-debug.log*
frontend/package-lock.json
/.env
/backend/.env
/frontend/.env
/google-credentials.json
/backend/google-credentials.json
/.vscode